body {
    margin: 0;
    background: black;
    color: white;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header .logo {
    background: white;
    display: inline-block;
    border-radius: 50%;
    padding: 25px;
}

.header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #3d3d3d;
    font-size: 30px;
}

#empty {
    width: 150px;
    height: 20px;
    background-color: #3d3d3d;
}

.navbar {
    list-style: none;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 100px;
}
.navbar > li {
        margin:0px 10px
    }
        .navbar > li > a {
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
        .navbar > li > a:hover {
            opacity: 0.8;
        }

.wrapper {
    margin-top: 120px;
    margin-left: 50px;

}

#hero {
    display: flex;
    justify-content: space-between;
}

.left h1 {
    font-size: 100px;
    color: #00EEFF;
    margin: 0;
}
.left h4 {
    margin: 0;
    font-size: 38px;
}
#hero .right img {
    margin-right: 80px;
    border-radius: 8%;
}
.right h2 {
    color: #00EEFF;
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 80px;
    padding-bottom: 10px;
}
.right p {
    margin-left: 250px;
    font-size: 25px;
    margin-top: 0;
}

.right .line {
    height: 8px;
    background: white;
    width: 82%;
    margin-left: 40px;
}

#about-title {
    font-size: 80px;
    align-items: center;
    display: flex;
}
.nextpage {
    margin: 20px 80px;
    text-align: right;
}
    .nextpage a {
        background-color: white;
        padding: 20px;
        border-radius: 67px;
        color: black;
        text-decoration: none;
    }
    .nextpage > a:hover {
        opacity: 0.8;
    }
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}






